@page "/"
<style>
	.body{
		/* background-image: url('images/backgroundCake.jpg');
		background-repeat: no-repeat;
		background-size: cover;*/
		background-color: red;
		
	}
	
</style>
<PageTitle>Home</PageTitle>


<h1>HELLO BAKING SISTER</h1>

<body>


</body>